<head>

  <link rel="stylesheet" type="text/css" href="css/ng-logslider.css">

  <!--
  <link rel="stylesheet" type="text/css" href="../dist/css/ng-slider.min.css">
  -->

  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>

  <!--
  <script type="text/javascript" src="../dist/ng-slider.min.js"></script>
  -->

  <script type="text/javascript" src="core/ng-logslider.js"></script>
  <script type="text/javascript" src="core/config/constants.js"></script>
  <script type="text/javascript" src="core/model/draggable.factory.js"></script>
  <script type="text/javascript" src="core/model/pointer.factory.js"></script>
  <script type="text/javascript" src="core/model/slider.factory.js"></script>
  <script type="text/javascript" src="core/utils/utils.factory.js"></script>
  <script type="text/javascript" src="core/template/slider.tmpl.js"></script>


</head>
<body>

  <div ng-app="myApp" ng-controller="ctrl" style="width:700px;">

    <div>
      <input ng-model="value3"  type="text" id="{{id}}" slider ng-disabled="disabled" options="options" />
    </div>

    <div>
      Current value is: {{value3}}
    </div>
    </br>
    </br>
    <div>
      <input ng-model="value3"  type="text" id="{{id}}" slider ng-disabled="disabled" options="{
                from: 1,
                to: 100,
                step: 1,
                dimension: 'km',
                vertical: false,
                css: {
                    background: {'background-color': 'yellow'},
                    before: {'background-color': 'purple'},
                    default: {'background-color': 'white'},
                    after: {'background-color': 'green'},
                    pointer: {'background-color': 'red'}
                }
            }"/>
    </div>
    <div>
      Current value is: {{value3}}
    </div>


    </br>


  </div>

  <script type="text/javascript">
    "use strict";
    function ctrl($scope, $filter, $timeout) {
      $scope.options = {
        to: 40,
        from: 0,
        step: 1,
        dimension: " km",
        vertical: false,
         scale: [0, '|', 10, '|', 20, '|' , 30, '|', 40],
        // round: 2,
        skin: 'blue',
        modelLabels: {1: 'test1', 2: 'test3'},
        realtime: true,
        /*css: {
                    background: {'background-color': 'yellow'},
                    before: {'background-color': 'purple'},
                    default: {'background-color': 'white'},
                    after: {'background-color': 'green'},
                    pointer: {'background-color': 'red'}
                },*/
        limits: false,
        callback: function(value, released) {
          console.log(value + " " + released);
        }
      };

    var app = angular.module('myApp', ['ngSlider']).controller('ctrl', ctrl);
  </script>

</body>